:root {
  --color-primario: #14213d;

  --color-secundario: #e9c46a;

  --color-fondo: #e5e5e5;
  --blanco: #fff;
}
body {
  margin: 0;
  background: var(--color-fondo);
}
.hero{
    min-height:100vh;
    background:var(--color-primario);
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:90px 8% 60px;
    box-sizing:border-box;
}
.hero-text {
  max-width: 600px;
  color: var(--blanco);
}

.hero-text h1 {
  font-size: 72px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.hero-text p {
  font-size: 22px;
  color: var(--color-secundario);
  margin-bottom: 40px;
  line-height: 1.8;
}

.hero-text button {
  background: var(--color-secundario);
  color: var(--color-primario);
  border: none;
  padding: 18px 38px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
   transition:.35s;
}

.hero-image img {
  width: 550px;
  height: 380px;
  object-fit: cover;
  border-radius: 28px;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.35);
}


.hero-text button:hover{
    transform:translateY(-4px);
    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

/* Destinos */
/*==========================
        DESTINOS
==========================*/
.destinos-container{

max-width:1400px;

margin:auto;

padding:0 8%;

}
.destinos{

padding:30px 8%;

max-width:1400px;

margin:auto;

background:var(--color-fondo);

text-align:center;

}

.destinos h2{

font-size:58px;
font-weight:800;
margin-bottom:55px;
color:var(--color-primario);

}

.destinos p{

font-size:18px;

color:#666;

margin-bottom:50px;

}

/*Swiper*/

.destinos .swiper{

width:100%;
margin:auto;
padding-bottom:70px;

}

.swiper-button-next,
.swiper-button-prev{

color:var(--color-secundario);

font-weight:bold;

}

.swiper-pagination-bullet{

background:var(--color-primario);

opacity:1;

}

.swiper-pagination-bullet-active{

background:var(--color-secundario);

}

/*Targeta destino*/

.destino-card{

position:relative;

height:500px;

border-radius:30px;

overflow:hidden;

box-shadow:0 18px 35px rgba(0,0,0,.18);

cursor:pointer;

transition:.4s;

}

.destino-card:hover{

transform:translateY(-8px);

}

.destino-card img{

width:100%;

height:100%;

object-fit:cover;

transition:transform .6s;

}

.destino-card:hover img{

transform:scale(1.08);

}

/*Overlay*/

.destino-overlay{

position:absolute;

left:0;

bottom:0;

width:100%;

height:100%;

display:flex;

flex-direction:column;

justify-content:flex-end;

align-items:flex-start;

padding:40px;

background:linear-gradient(

to top,

rgba(0,0,0,.75) 10%,

rgba(0,0,0,.30) 45%,

transparent 75%

);

color:var(--blanco);

}

.destino-overlay h2{

    font-size:72px;
    font-weight:800;
    margin-bottom:20px;
    color:var(--blanco)
}

.destino-overlay p{

font-size:22px;
margin-bottom:40px;
color:#f5f5f5;
max-width:500px;
line-height:1.8;

}

.destino-overlay button{

background:var(--color-secundario);

color:var(--color-primario);

border:none;

padding:18px 40px;

border-radius:50px;

font-size:18px;

font-weight:700;

cursor:pointer;

transition:.3s;

}

.destino-overlay button:hover{

background:var(--color-primario);
color:var(--color-secundario);
transform:translateY(-3px);

}
/* Testimonios */

.testimonios {
  padding: 100px;
  background: var(--color-primario);
}

.testimonios h2 {
  text-align: center;
  margin-bottom: 50px;
  color: var(--blanco);
}

.testimonial {
  background: var(--blanco);
  padding: 30px;
  margin: 20px auto;
  max-width: 700px;
  border-radius: 20px;
}
/* Normal */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-secundario);
  color: var(--color-primario);
  transition: 0.4s;
  z-index: 1000;
}

/* scroll*/

.nav-scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background: var(--color-primario);
  color: var(--color-secundario);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  transition: 0.4s;
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  font-weight: 600;
}

nav a:hover {
  opacity: 0.7;
}

.h1{
  font-size: 42px;
  color:var(--color-secundario);
  margin-bottom: 15px;
}
.card {
  background: var(--blanco);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 250px;
  box-shadow: 0 8px 20px var(--color-primario);
  transition: 0.3s;
  color:var(--color-primario);
}

.card:hover {
  transform: translateY(-8px);
}

.icon {
  font-size: 50px;
  margin-bottom: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color: var(--color-primario);
}

/*Pagina de destinos*/
.pagina-destinos{
    padding:120px 8% 80px;
    background:#f5f5f5;
}

.pagina-destinos h1{
    text-align:center;
    font-size:55px;
    color:var(--color-primario);
    margin-bottom:60px;
}

.destinos-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}
.destino-card{
    position:relative;
    overflow:hidden;
    border-radius:20px;
    height:500px;
    cursor:pointer;
    box-shadow:0 10px 25px rgba(0,0,0,.15);
}

.destino-card img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:.5s;
}

.destino-card:hover img{
    transform:scale(1.08);
}
.destino-info{
    position:absolute;
    inset:0;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    padding:25px;

    background:linear-gradient(
        transparent,
        rgba(0,0,0,.85)
    );
}
.destino-info h2{
    color:white;
    font-size:34px;
    margin-bottom:15px;
}

.destino-info p{
    color:white;
    font-size:15px;
    line-height:1.6;
}
.destino-info button{
    margin-top:20px;
    width:max-content;

    background:var(--color-secundario);
    color:var(--color-primario);

    border:none;
    padding:12px 28px;
    border-radius:40px;
    cursor:pointer;
    font-weight:bold;
}
.pagina-servicios{
    padding:100px 8%;
    background:var(--color-fondo);
    text-align:center;
}

.pagina-servicios h1{
    font-size:58px;
    color:var(--color-primario);
    margin-bottom:15px;
}

.servicios-subtitulo{
    font-size:18px;
    color:#666;
    margin-bottom:70px;
}
.servicios-grid{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
}
.servicio-card{
    width:320px;
    background:white;
    border-radius:22px;
    padding:70px 30px 35px;
    position:relative;
    box-shadow:0 15px 35px rgba(0,0,0,.12);
    transition:.35s;
}

.servicio-card:hover{
    transform:translateY(-10px);
}
.servicio-info h2{
    font-size:24px;
    color:var(--color-primario);
    margin-bottom:20px;
}

.servicio-info p{
    color:#666;
    line-height:1.7;
    margin-bottom:30px;
}
.servicio-info button{
    background:var(--color-secundario);
    color:var(--color-primario);
    border:none;
    padding:14px 30px;
    border-radius:40px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}

.servicio-info button:hover{
    background:var(--color-primario);
    color:white;
}